MONGO_PASSWORD=your_mongo_password

MONGO_USER=sispaniers
MONGO_DB=sispaniers
MONGO_PORT=27017
BACKEND_PORT=8000

GMAIL_USER=your_account@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password

OPENAI_MODEL=gpt-4o-mini
GEMINI_MODEL=gemini-2.0-flash
